@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background font-body leading-relaxed text-foreground text-gray-600  dark:text-gray-200;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  a,
  li,
  blockquote {
    @apply font-heading;
  }

  h1 {
    @apply text-2xl font-bold text-gray-600 dark:text-gray-200 lg:text-6xl;
  }

  h2 {
    @apply text-2xl font-bold text-gray-600 dark:text-gray-200  lg:text-3xl;
  }

  h3 {
    @apply text-lg font-bold sm:text-2xl;
  }

  h4 {
    @apply text-sm font-bold;
  }

  span,
  p,
  li {
    @apply text-lg font-medium lg:text-xl;
  }

  .container {
    @apply mx-auto max-w-2xl px-4 py-4 sm:py-8 lg:max-w-7xl lg:px-8;
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
    --navbar-height: 5rem;
    --navbar-bg-color: rgba(255, 255, 255, 0.9);
    --navbar-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --navbar-bg-color: rgba(17, 24, 39, 0.9);
    --navbar-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .focus\:outline-none:focus {
    outline: none;
  }

  .focus\:ring:focus {
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6);
  }
  :focus {
    outline: 2px solid #005fcc;
    outline-offset: 2px;
  }

  :focus:not(:focus-visible) {
    outline: none;
  }

  :focus-visible {
    outline: 2px solid #005fcc;
    outline-offset: 2px;
  }
}

@layer components {
  .hire-me-button {
    --blurAmount: 10px;
    --duration: 300ms;
  }

  .hire-me-button:hover .absolute {
    opacity: 1;
  }

  .navbar-height {
    height: var(--navbar-height);
  }

  .pt-navbar {
    padding-top: var(--navbar-height);
  }

  .link {
    @apply text-blue-600 underline transition-colors duration-200 hover:text-blue-800;
    @apply dark:text-blue-400 dark:hover:text-blue-300;
  }
}

@media (max-width: 768px) {
  :root {
    --navbar-height: 4rem; /* Vous pouvez ajuster la hauteur pour mobile si nécessaire */
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
}
